@use 'src/styles/vars';
@import 'src/styles/mixins';

.portfolio{
  width: 85%;
  height: 550px;
  margin: vars.$gutter * 3 auto;
  display: flex;
  justify-content: space-evenly;

  @include very-small{
    width: 95%;
    margin: vars.$gutter * 10 auto 0 auto;
    flex-direction: column;
  }

  @include small-only{
    width: 95%;
    margin: vars.$gutter * 10 auto vars.$gutter * 10 auto;
    flex-direction: column;
  }

  @include medium{
    width: 95%;
    margin: vars.$gutter * 10 auto vars.$gutter * 10 auto;
    flex-direction: column;
  }

  @include large{
    height: 900px;
    flex-direction: column;
  }

  &__card{
    width: 40%;
    height: 315px;
    border: 3px solid vars.$elementsColor;
    border-radius: 3px;
    transition: 0.2s;

    @include very-small{
      width: 100%;
      height: 430px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
    }

    @include small-only{
      width: 100%;
      height: 450px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
    }

    @include medium{
      width: 100%;
      height: 420px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
    }

    @include large{
      width: 100%;
      height: 420px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
    }

    &__link{
      display: flex;
      justify-content: space-evenly;

      @include very-small{
        flex-direction: column;
      }

      @include small-only{
        flex-direction: column;
      }

      &__preview{
        padding: 15px 0 15px 15px;

        @include very-small{
          margin: auto;
          padding: 10px 0;
        }

        @include small-only{
          margin: auto;
          padding: 10px 0;
        }

        @include medium{
          width: 50%;
        }

        @include large{
          width: 50%;
        }

        &__image{
          width: 300px;
          height: 280px;
          border-radius: 3px;

          @include very-small{
            width: 280px;
            height: 250px;
          }

          @include small-only{
            width: 330px;
            height: 310px;
          }

          @include medium{
            width: 340px;
            height: 320px;
          }

          @include large{
            width: 400px;
            height: 380px;
          }
        }
      }

      &__description{
        width: 100%;
        margin: auto;
        text-align: center;

        &__text{
          width: 95%;
          font-size: 1.5em;
          margin: auto;
          color: vars.$elementsColor;

          @include very-small{
            margin-bottom: 5px;
          }

          @include small-only{
            margin-bottom: 5px;
          }

          @include large{
            font-size: 2em;
          }
        }
      }
    }
  }

  &__card:hover{
    border: 3px solid vars.$accentColor;
    transition: 0.2s;
    transform: scale(1.05);
  }

  &__exemple{
    width: 40%;
    height: 315px;
    border: 3px solid vars.$elementsColor;
    border-radius: 3px;
    transition: 0.2s;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;

    @include very-small{
      width: 100%;
      height: 430px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
      align-self: center;
      flex-direction: column;
    }

    @include small-only{
      width: 100%;
      height: 450px;
      margin: vars.$gutter auto vars.$gutter * 2 auto;
      align-self: center;
      flex-direction: column;
    }

    @include medium{
      width: 100%;
      height: 420px;
      margin: 0 auto vars.$gutter * 2 auto;
    }

    @include large{
      width: 100%;
      height: 420px;
      margin: 0 auto vars.$gutter * 2 auto;
    }

    &__span{
      width: 50%;
      margin: auto;
      text-align: center;

      &__next{
        width: 95%;
        font-size: 1.5em;
        margin: auto;
        color: vars.$elementsColor;

        @include very-small{
          margin-top: 5px;
        }

        @include small-only{
          margin-top: 5px;
        }

        @include large{
          font-size: 2em;
        }
      }
    }

    &__svg{
      width: 80%;
      background-color: vars.$elementsColor;
      margin: 15px 15px 15px 0;
      border-radius: 3px;
      display: flex;

      @include very-small{
        width: 280px;
        height: 250px;
        margin: 10px auto;
      }

      @include small-only{
        width: 330px;
        height: 310px;
        margin: 10px auto;
      }

      @include medium{
        width: 340px;
        height: 320px;
      }

      @include large{
        width: 400px;
        height: 380px;
      }

      &__hands{
        margin: auto;
        font-size: 9em;
        color: vars.$blackText;
      }
    }
  }

  &__exemple:hover{
    border: 3px solid vars.$accentColor;
    transition: 0.2s;
    transform: scale(1.05);
  }
}