// === Colors
$backgroundColor: #1F1F1F;
$elementsColor: #F9F8F8;
$altColor: #a59137;
$accentColor: #AF4D59;
$blackText: #1F1F1F;

// === Fonts
$mainFont: 'Montserrat';

// === Sizes
$navItemsSize: 1.5em;

// === Gutter
$gutter: 1.5em;