@use 'reset';
@use 'vars';
@import 'mixins';

html{
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-family: vars.$mainFont, sans-serif;
  background: vars.$backgroundColor;
  overflow: hidden;

  @include very-small{
    overflow-y: scroll;
  }

  @include small-only{
    overflow-y: scroll;
  }

}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat&display=swap');
