@use 'src/styles/vars';
@import 'src/styles/mixins';

.man{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include very-small{
    margin: vars.$gutter * 2 auto 0 auto;
  }

  @include small-only{
    margin: 0 auto;
  }

  @include medium{
    width: 100%;
    margin: vars.$gutter 0;
  }

  &__container{
    width: 100%;

    &__title{
      width: 60%;
      margin: vars.$gutter / 2 0 0 auto;
      font-size: 5em;
      color: vars.$elementsColor;
      text-align: right;
      line-height: 90px;

      @include very-small{
        width: 100%;
        margin: vars.$gutter auto vars.$gutter / 3 auto;
        font-size: 2.5em;
        text-align: center;
        line-height: normal;
      }

      @include small-only{
        width: 100%;
        margin: vars.$gutter auto vars.$gutter / 3 auto;
        font-size: 3.2em;
        text-align: center;
        line-height: normal;
      }

      @include medium{
        width: 80%;
        margin: vars.$gutter auto vars.$gutter / 3 auto;
        font-size: 3.5em;
        line-height: normal;
      }

      @include large{
        width: 90%;
        margin: vars.$gutter * 2 auto vars.$gutter auto;
        font-size: 5em;
        line-height: normal;
      }
    }
  }

  &__left{
    width: 60%;
    margin-top: vars.$gutter * 2;
    color: vars.$elementsColor;
    font-size: 1.5rem;

    @include very-small{
      width: 100%;
      text-align: center;
      margin-top: vars.$gutter * 2;
    }

    @include small-only{
      width: 95%;
      text-align: center;
    }

    @include medium{
      width: 70%;
      margin: vars.$gutter * 2 0 vars.$gutter vars.$gutter;
    }

    @include large{
      width: 85%;
      margin: vars.$gutter * 2 0 vars.$gutter vars.$gutter;
      font-size: 1.8em;
    }

    &__text{
      line-height: 30px;

      @include medium{
        margin-left: vars.$gutter;
        line-height: 30px;
      }

      @include large{
        line-height: 35px;
      }
    }
  }
}

@keyframes roll{
  0%{
    transform: rotateZ(90deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

@keyframes rollBack{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(-360deg);
  }
}