@use 'src/styles/vars';
@import 'src/styles/mixins';

.main{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include very-small{
    margin: vars.$gutter * 2 auto 0 auto;
  }

  @include small-only{
    margin: 0 auto;
  }

  &__container{
    width: 100%;

    &__title{
      width: 60%;
      margin: vars.$gutter 0 0 auto;
      font-size: 5em;
      color: vars.$elementsColor;
      text-align: right;
      line-height: 100px;
      position: relative;

      @include very-small{
        width: 100%;
        margin: vars.$gutter auto vars.$gutter / 3 auto;
        font-size: 2.5em;
        text-align: center;
        line-height: normal;
      }

      @include small-only{
        width: 100%;
        margin: vars.$gutter auto vars.$gutter / 3 auto;
        font-size: 3.2em;
        text-align: center;
        line-height: normal;
      }
    }
  }

  &__container::before{
    content: "";
    width: 800px;
    height: 800px;
    top: -400px;
    right: -400px;
    position: absolute;
    border-radius: 40%;
    z-index: -1;
    transform: rotateZ(90deg);
    background-color: vars.$accentColor;
    animation: roll 15s ease-in-out infinite;

    @include very-small{
      width: 300px;
      height: 300px;
      top: -100px;
      right: 50%;
    }

    @include small-only{
      width: 300px;
      height: 300px;
      top: -100px;
      right: 50%;
    }
  }

  &__container::after{
    content: "";
    width: 900px;
    height: 900px;
    top: -400px;
    right: -400px;
    position: absolute;
    border-radius: 35%;
    z-index: -2;
    background-color: vars.$altColor;
    animation: roll 20s ease-in-out infinite;

    @include very-small{
      width: 500px;
      height: 500px;
      top: -250px;
      right: 40%;
    }

    @include small-only{
      width: 500px;
      height: 500px;
      top: -250px;
      right: 40%;
    }
  }

  &__left{
    width: 80%;
    margin-top: vars.$gutter * 3;
    color: vars.$elementsColor;
    font-size: 1.5rem;

    @include very-small{
      width: 100%;
      text-align: center;
      margin-top: vars.$gutter * 2;
    }

    @include small-only{
      width: 95%;
      text-align: center;
    }
  }
}

@keyframes roll{
  0%{
    transform: rotateZ(90deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

@keyframes rollBack{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(-360deg);
  }
}