@use 'src/styles/vars';
@import 'src/styles/mixins';

.footer{
  width: 100%;
  height: 150px;
  margin: vars.$gutter auto 10px auto;
  position: absolute;
  bottom: 0;

  @include very-small{
    position: initial;
    margin-top: vars.$gutter * 5;
  }

  @include small-only{
    position: initial;
    margin-top: vars.$gutter * 5;
  }

  @include medium{
    position: initial;
    margin-top: vars.$gutter;
    margin-bottom: 0;
  }

  @include large{
    position: initial;
    margin-top: vars.$gutter;
    margin-bottom: 0;
  }

  &__list{
    display: flex;
    justify-content: center;

    &__item{
      font-size: vars.$navItemsSize * 2;
      color: vars.$elementsColor;
      padding: 20px;


      @include medium{
        font-size: vars.$navItemsSize * 2.2;
      }

      @include large{
        font-size: vars.$navItemsSize * 2.5;
      }

      &__link{
        color: vars.$elementsColor;
        transition: .2s;
        margin: 0 20px;
      }

      &__link:hover{
        color: vars.$accentColor;
        margin: 13px;
        transition: .2s;
        font-size: vars.$navItemsSize * 0.9;
      }
    }
  }
}