@use 'src/styles/vars';
@import 'src/styles/mixins';

.footer{
  width: 85%;
  margin: 0 auto;

  &__list{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__item{
      font-size: vars.$navItemsSize * 2;
      color: vars.$elementsColor;
      padding: 25px;

      @include medium{
        font-size: vars.$navItemsSize * 2.2;
      }

      @include large{
        font-size: vars.$navItemsSize * 2.5;
      }

      &__link{
        color: vars.$elementsColor;
        transition: .2s;
      }

      &__link:hover{
        color: vars.$accentColor;
        transition: .2s;
        font-size: vars.$navItemsSize * 1.05;
      }
    }
  }
}